#wrapper {
    max-width: 1050px;
    margin: 60px auto 60px auto;
    
  }
  #outer {
    display: table;
    width: 60%;
    table-layout: fixed;
    margin-left: 20%;
    margin-right: 20%;
  }
  .itemwrapper {
    display: table-cell;
    vertical-align: top;
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .itemgap {
    display: table-cell;
    vertical-align: top;
    width: 10%;
  }
  img {
    max-width: 100%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
  }

  .myButton {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffffe3;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .myButton:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
  }
  .myButton:active {
    position:relative;
    top:1px;
  }
  .responsive{
    max-width:100%;
    max-height:100%;
  }
  
  .center{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
  }
  
  parent{
    position: relative;
  }